@use "../../assets/colors/colors.scss" as colors;

.serviceCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  gap: 20px;
}

.photo {
  width: 330px;
  height: 220px;
  object-fit: cover;
}
.button {
  cursor: pointer;
  color: colors.$secondary;
  background-color: transparent;
  font-size: 17px;
  border: none;
}

.title {
  font-size: 23px;
  color: colors.$darkText;
}

.info {
  color: colors.$text;
  text-align: center;
}
