@use "../../assets/colors/colors.scss" as colors;

.container {
  display: flex;
  background-color: colors.$white;
  padding-top: 50px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0 10px;
  gap: 20px;
}

.title {
  text-transform: uppercase;
  color: colors.$secondary;
}

.text {
  font-size: 42px;
}

.info {
  color: colors.$darkText;
}
