@use "../../assets/colors/colors.scss" as colors;

.waveContainer {
  position: relative;
  width: 100%;
  height: 130px;
  border: none;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-color: colors.$primary;
  border-style: solid;
  border-width: 0 0 1px 0;
  height: 130px;
  background-color: colors.$primary;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 90%,
    2% 89.73%,
    4% 88.95%,
    6% 87.66%,
    8% 85.93%,
    10% 83.82%,
    12% 81.39%,
    14% 78.73%,
    16% 75.94%,
    18% 73.12%,
    20% 70.36%,
    22% 67.77%,
    24% 65.44%,
    26% 63.44%,
    28% 61.86%,
    30% 60.73%,
    32% 60.12%,
    34% 60.03%,
    36% 60.47%,
    38% 61.43%,
    40% 62.86%,
    42% 64.73%,
    44% 66.96%,
    46% 69.48%,
    48% 72.19%,
    50% 75%,
    52% 77.81%,
    54% 80.52%,
    56% 83.04%,
    58% 85.27%,
    60% 87.14%,
    62% 88.57%,
    64% 89.53%,
    66% 89.97%,
    68% 89.88%,
    70% 89.27%,
    72% 88.14%,
    74% 86.56%,
    76% 84.56%,
    78% 82.23%,
    80% 79.64%,
    82% 76.88%,
    84% 74.06%,
    86% 71.27%,
    88% 68.61%,
    90% 66.18%,
    92% 64.07%,
    94% 62.34%,
    96% 61.05%,
    98% 60.27%,
    100% 60%
  );
}
