@use "../../assets/colors/colors.scss" as colors;

.container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.textContainer {
  padding: 0 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: start;
}

.title {
  text-transform: uppercase;
  color: colors.$secondary;
}
